<!DOCTYPE html>

<html>

<head>
    <title>Daifugo!</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

    <script src="/js/client.js"></script>
    {{>footer}}
    </div>
</body>

</html>